{
    email {env.ACME_EMAIL}
    order crowdsec first
    crowdsec {
        api_url http://crowdsec:8080
        api_key {env.CROWDSEC_API_KEY}
    }
}

(common) {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    crowdsec
    log {
        output file /var/log/caddy/access.log
        format json
    }
}

dns.{env.DOMAIN} {
    import common
    reverse_proxy adguard:80
}

status.{env.DOMAIN} {
    import common
    reverse_proxy uptime-kuma:3001
}

*.{env.DOMAIN} {
    import common
    reverse_proxy frps:8080 {
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Port 443
        header_up X-Real-IP {remote_host}
    }
}
